*.iml
.kotlin
.gradle
**/build/
!composeApp/src/**/kotlin/com/nuvio/app/core/build/
!composeApp/src/**/kotlin/com/nuvio/app/core/build/**
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
/captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
logs/
analysis/
keystore/
.mpvkit-build.sparseimage
legacy/streambridge-app/build/
